<h4>All Drugs</h4>

<div class="row">
    {{#each drugs}}
    <div class="col s12 m4">
        <div class="card waves-effect waves-block waves-light">
            <div class="card-image">
                {{!-- {{{editIcon user ../user _id}}} --}}
            </div>
            <div class="card-content center-align">
                <h5>{{drugName}}</h5>
                <p>{{usageCase}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/drugs/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/drugs/{{_id}}" class="btn green waves-effect">Check Out</a>
            </div>
        </div>
    </div>

    {{else}}
    <p>No drugs to display</p>
    {{/each}}

</div>